<%= search_form_for(@q, html: { class: 'form-horizontal' }, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean}) do |f| %>
  <div class="col-md-4">
    <%= f.input :user_id_eq, required: false, collection: User.all, label: "#{User.model_name.human}#{User.human_attribute_name('name')}" %>
  </div>
  <div class="col-md-4">
    <%= f.input :doctor_id_eq, required: false, collection: Doctor::all, label: "#{Doctor.model_name.human}#{Doctor.human_attribute_name('name')}" %>
  </div>
  <div class="col-md-4">
    <%= f.button :submit, t(:search) %>
  </div>
<% end %>